{% extends 'baseadmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('back/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('back/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('back/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('back/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h1>Avis list</h1>

                            <table id="datatable" class="table table-bordered dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th >ID avis</th>
                                    <th>Nom parent</th>
                                    <th>Date avis</th>
                                    <th>Description avis</th>
                                    <th> </th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for avi in avis %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('avis_show', { 'idAvis': avi.idAvis }) }}">{{ avi.idAvis }}</a>
                                        </td>
                                        <td>{{ avi.id }}</td>
                                        <td>{{ avi.dateAvis|date }}</td>
                                        <td>{{ avi.descriptionAvis }} </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href=" {{ path('avis_show', { 'idAvis': avi.idAvis }) }}"><i class="dripicons-blog"></i> | Afficher les Détails</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->

        </div> <!-- content -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <script src="{{ asset('back/assets/js/pages/datatables.init.js') }}"></script>
{% endblock %}