{% extends 'baseadmin.html.twig' %}
{% form_theme form 'form/form_errors.html.twig' %}
{% block content %}

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Ajout d'un Club</h4>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal' , 'role' : 'form' , 'novalidate': 'novalidate' }}) }}
                            <div class="form-group row">
                                {{ form_label(form.nomClub ,null , {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(form.nomClub , {'attr': {'class': 'form-control' , 'placeholder': 'Nom'}}) }}
                                </div>
                                {{ form_errors(form.nomClub) }}
                            </div>
                            <div class="form-group row">
                                {{ form_label(form.descriptionClub ,null , {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(form.descriptionClub , {'attr': {'class': 'form-control' , 'placeholder': 'Description' }}) }}
                                </div>
                                {{ form_errors(form.descriptionClub) }}
                            </div>
                            <div class="form-group row">
                                {{ form_label(form.adresseClub ,null , {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(form.adresseClub , {'attr': {'class': 'form-control' , 'placeholder': 'Adresse'}}) }}
                                </div>
                                {{ form_errors(form.adresseClub) }}
                            </div>

                            <div class="form-group row">
                                <div class="offset-sm-4 col-sm-8">
                                    {% for message in app.flashes('info') %}

                                        <div class="alert alert-success">
                                            {{ message }}

                                        </div>
                                    {% endfor %}
                                    {{ form_widget(form) }}
                                    <input type="submit" class="btn btn-primary waves-effect waves-light mr-1" value="Confimer">
                                    <a class="btn btn-secondary waves-effect waves-light" href="{{ path('club') }}">
                                        Annuler
                                    </a>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div><!-- end card-box -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->

        </div> <!-- content -->
    </div>

{% endblock %}
