{% trans_default_domain 'FOSUserBundle' %}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center">
                    <a href="index.html">
                        <span><img src="assets/images/logo-dark.png" alt="" height="22"></span>
                    </a>
                    <p class="text-muted mt-2 mb-4"></p>
                </div>
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0">Modifier Profile</h4>
                        </div>
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_registration_register' , 'novalidate': 'novalidate' }}) }}
                        {% if not form.vars.valid %}
                            {% for child in form.children %}
                                {%for error in child.vars.errors%}
                                    <div class="alert alert-danger" >
                                        <div class="alert-text"><a> {{error.message}} </a> </div>
                                    </div>
                                {%endfor%}
                            {%endfor%}
                        {%endif%}
                        <div class="form-group">
                            {{ form_label(form.current_password) }}
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control' , 'placeholder': 'form.current_password'|trans }}) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' , 'placeholder': 'form.password'|trans }}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder': 'form.password_confirmation'|trans }}) }}                        </div>
                        <div class="form-group mb-0 text-center">
                            <input type="submit" class="btn btn-primary btn-block" value="{{ 'change_password.submit'|trans }}" name="_submit"/>
                        </div>
                        {{ form_end(form) }}
                    </div> <!-- end card-body -->
                </div>
                <!-- end row -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>