{% extends 'baseadmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('back/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('back/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('back/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('back/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h1>liste des evenements</h1>

                            <table id="datatable" class="table table-bordered dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th >ID d'evenement</th>
                                    <th>Nom d'evenement</th>
                                    <th>Date d'evenement</th>
                                    <th>Prix d'evenement</th>
                                    <th >Description d'evenement</th>
                                    <th>Type d'evenement</th>
                                    <th>Lieu d'evenement</th>
                                    <th> </th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for event in event %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('event_show', { 'idEvent': event.idEvent }) }}">{{ event.idEvent }}</a>
                                        </td>
                                        <td>{{ event.nomEvent }}</td>
                                        <td>{{ event.dateEvent| date }}</td>
                                        <td>{{ event.prixEvent }} dt</td>
                                        <td>{{ event.descrEvent }}</td>
                                        <td>{{ event.typeEvent }}</td>
                                        <td>{{ event.lieuEvent }}</td>

                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('event_show', { 'idEvent': event.idEvent }) }}"><i class="dripicons-pencil"></i> | Afficher Les Details</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('event_participants', { 'idEvent': event.idEvent }) }}"><i class="dripicons-blog"></i> | Liste des participants </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <ul>
                                <li>
                                    <a href="{{ path('event_new') }}">Ajouter evenement</a>
                                </li>
                            </ul>
                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->

        </div> <!-- content -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('back/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <script src="{{ asset('back/assets/js/pages/datatables.init.js') }}"></script>
{% endblock %}