{% trans_default_domain 'FOSUserBundle' %}
    {% if  is_granted("IS_AUTHENTICATED_FULLY") %}
        <script>
            window.location.replace("{{ path("homepage") }}");
        </script>
    {% endif %}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center">
                    <a href="index.html">
                        <span><img src="assets/images/logo-dark.png" alt="" height="22"></span>
                    </a>
                    <p class="text-muted mt-2 mb-4"></p>
                </div>
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0 mb-3">Reset Password</h4>
                            <p class="text-muted mb-0 font-13">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
                        </div>

                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" >

                            <div class="form-group mb-3">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control"  type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}">
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit"> {{ 'resetting.request.submit'|trans }} </button>
                            </div>

                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Back to <a href="{{ path('fos_user_security_login') }}" class="text-dark ml-1"><b>Log in</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
